.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flexPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;

}

.panelMoves {
  min-width: 300px;
  background-color: rgb(247, 247, 247);
  height: 100%;
  transition: min-width 1s;
  min-width: 0px;
}


.listingList {
  --padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100vw;
  gap: 15px;
  grid-template-columns: calc( 25% - var(--padding )) calc( 25% - var(--padding )) calc( 25% - var(--padding )) calc( 25% - var(--padding ));
  grid-template-rows: repeat(4, 255px);
  display: grid;
  transition: grid 1s, gap 1s, max-width 1s, padding 1s;
  padding: var(--padding);
}

.listingList[click-active="T"] {
  --padding: 0px;
  max-width: 800px;
  gap: 0px;
  padding: 0;
  margin: auto;
  
  .listing {
    margin: 0px;
    box-shadow: none !important;
    border: none;
  }
}


.listing {
  border: 4px solid black;
  /* padding: 10px; */
  border-radius: 10px;
  flex-basis: 22%;
  /* margin: 10px; */
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  /* position: relative; */

  grid-template-rows: 
    30px 
    200px
    20px
    0px;
  grid-template-columns: 100% 0%;
  transition: grid 1s, opacity 0.75s, padding 1s;
  overflow: hidden;
  /* max-width: 500px; */
}

.listing[is-active="true"]{
  grid-template-columns: 70% 30%;
  grid-template-rows: 
  50px 
  400px
  20px
  100px;
  background-color: rgb(237, 237, 237);
  padding: 25px;
  border-radius: 25px;
  h2 {
    text-align: left;
  }
}

.listing[is-active="false"]{
  opacity: 0;
  
}

.listing .selectedHeader{
  #Esc {
    /* height: 100%; */
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    width: 35px;
    height: 35px;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 100vh;
  }  
  
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  /* height: 150px; */
  display: flex;
  
  align-items: center;
  justify-content: flex-end;
  /* padding: 0 15px; */
}

.listing .quickControls {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  
}

.listing .listingImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  overflow: hidden;
  height: 95%;
  border-radius: 15px;
  padding: 2px;
  
}

.listing .listingDetails {
  h3 {
    /* margin: 4px; */
    margin-bottom: 0px;
    padding: 5px 15px 5px 15px;
    border-radius: 10px 10px 0 0;

    background-color: rgb(242, 236, 236);;
    text-align: left;
    width: min-content;
  }

  width: fit-content;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;

}

.listing .listingDetails .listingParams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(242, 236, 236);
  padding: 5px;
  overflow: hidden;
  margin: auto;
  border-radius: 0 0 10px 10px;
  gap: 5px;
  column-gap: 25px;
  min-width: 400px;
  /* margin: 10px; */
}

.listing .listingDetails .listingParams div {

  display: flex;
  align-items: center;
  justify-content: space-between;
  

  strong {

  }
}

.listing[exceed-budget='aboveAverage']{
  border: 1px solid black;
  padding: 10;
  opacity: .5;
  
}

.listing[exceed-budget='belowAverage']{
  border: 1px solid black;
  padding: 10;
  opacity: 1;
}


.listing img {
  width: 100%; 
  
  height: auto;
  
  border-radius: 5px;
  margin-bottom: 10px;
  
}

.listing {
  font-size: 14px; 

}

.listing h2 {
  font-size: 18px; 
}

.listing p {
  font-size: 14px; 
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5); 
  border: 1px solid #ccc; 
  padding: 10px;
  width: 50%;
  margin: 0 auto; 
 
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black; 
}

nav a.active {
  font-weight: bold;
  color: blue; 
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  padding: 25px; 
  background-color: rgba(255, 255, 255, 0.4); 
  

}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
  position: relative;
  margin-top: 100px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
  position: relative;
  margin-top: 50px;
}

.background-logo {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: -1; 
  max-width: 600px; 
  height: auto;
}

.slogan {
  text-align: center;
  margin-top: 50px; 
  font-size: 1.7em; 
  color: #333; 
  font-family: 'Roboto Slab', serif; 
  font-weight: bold;
  font-style: italic;
  
}

.top-left-logo {
  position: absolute;
  top: 40px; 
  left: 50px; 
  height: 100px; 
  width: auto;
}

.user-form h2 {
  color: #333;
  margin-bottom: 20px;
}

.user-form input[type="text"], .user-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.user-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #135dac;
  color: white;
  cursor: pointer;
}


.user-form input[type="submit"]:hover {
  background-color: #0056b3;
}


.favorites-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.favorite-item {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin-bottom: 20px; 
  width: 80%; 
}

.favorite-image {
  width: 500px; 
  height: 300px; 
  object-fit: cover;
  border-radius: 5px; 
  margin-right: 15px; 
  border: 3px solid #f3dcdc;
}

.favorite-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.favorite-info p, .favorite-info h1, .favorite-info h2, .favorite-info h3 {
  line-height: 1.6; 
  margin-bottom: 5px; 
}

.button-highlight {
  background-color: #4CAF50; 
  color: white;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
  padding: 0 20px; 
  max-width: 500px; 
  margin: auto; 
}

.listingImgsCarousel {
  flex: 1; 
  text-align: center; 
}

.carouselButton {
  background-color: rgba(0, 0, 0, 0.5); 
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  top: 36.5%;
  transform: translateY(-50%);
  z-index: 2; 
}

.carouselButton.left {
  top: 50%;
  left: 25%; 
  transform: translateX(-50%); 
}

.carouselButton.right {
  top: 50%;
  right: 25%; 
  transform: translateX(50%); 
}


.calculator-container {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-form {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  align-items: center;
}

.input-field {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.budget-input {
  max-width: 150px;
  padding: 5px;
  border: 1px solid #ddd;
}

.total-container {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}

.total {
  margin-bottom: 10px;
}

.address-input {
  margin: 0 auto;
  max-width: 200px;
}

.address {
  padding: 5px;
  border: 1px solid #ddd;
}

.save-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3;
}

.search-container {
  margin-bottom: 10px; 
  
  
}
.search-heading {
  font-size: 1.2em; 
  
}


.budget-container {
  margin-top: 10px; 
  
}

.budget-calc {
  font-size: 1.5em; 
  
}

.fav {
  font-size: 1.5em;
}

